packages/create-lwc-app/templates/README.md
packages/create-lwc-app/templates/lwc-services.config.js
packages/create-lwc-app/templates/eslintignore
packages/create-lwc-app/templates/prettierignore
*.json