packages/lwc-create-app/templates/README.md
packages/lwc-create-app/templates/lwc-services.config.js
packages/lwc-create-app/templates/eslintignore
packages/lwc-create-app/templates/prettierignore
*.json